<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta name="google-site-verification" content="iSvWfrDzriAowN-AhjmnO68BjuAW5g_2styFrV5DLa0" /> -->
    <title>Adam &amp; Josie in Love :: Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" rel="stylesheet" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Rye|Special+Elite' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
     <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
     <![endif]-->

    <link href="/css/style.css" rel="stylesheet" type='text/css' />
    <link href="/css/leaflet.awesome-markers.css" rel="stylesheet" type='text/css' />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-45984918-1', 'auto');
    ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
   <div id="content-container" class="container">
    <div id="header">
      <img class='img-responsive' alt='Mountain scape' src='/images/theme/header.png'>
    </div>
    <nav class="navbar navbar-default visible-xs" role="navigation" id='mobile-nav'>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Adam &amp; Josie</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">


          <li class="">
            <a class="active" href="/" target="_self">Home</a>
          </li>

          <li class="">
            <a class="" href="/our-story/" target="_self">Our Story</a>
          </li>

          <li class="">
            <a class="" href="/photos/" target="_self">Photos</a>
          </li>

          <li class="">
            <a class="" href="/wedding-info/" target="_self">Wedding Info</a>
          </li>

          <li class="">
            <a class="" href="/registries/" target="_self">Registries</a>
          </li>

          <li class="">
            <a class="" href="/lodging/" target="_self">Lodging</a>
          </li>

          <li class="">
            <a class="" href="/what-to-do/" target="_self">What To Do</a>
          </li>

          <li class="">
            <a class="" href="/map/" target="_self">Map</a>
          </li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div id="tree-menu" class=''>
      <img class='img-bg' alt='Pine Tree Top' src='/images/theme/tree-top.png'>
      <img class='img-bg' alt='Pine Tree Trunk' src='/images/theme/tree-trunk.png'>
      <div id="tree-menu-signs">
        <div class="menu-item">
          <a class="menu_small_right" href="/">Home</a>
        </div>
        <div class="menu-item">
          <a class="menu_med_left" href="/our-story/">Our Story</a>
        </div>
        <div class="menu-item">
          <a class="menu_big_right" href="/photos/">Photos</a>
        </div>
        <div class="menu-item">
          <a class="menu_big_left" href="/wedding-info/">Wedding Info</a>
        </div>
        <div class="menu-item">
          <a class="menu_big_right" href="/registries/">Registries</a>
        </div>
        <div class="menu-item">
          <a class="menu_med_left" href="/lodging/">Lodging</a>
        </div>
        <div class="menu-item">
          <a class="menu_big_right" href="/what-to-do/">What To Do</a>
        </div>
        <div class="menu-item">
          <a class="menu_small_left" href="/map/">Map</a>
        </div>
      </div>
    </div>

<!-- THIS IS THE DEFAULT TEMPLATE -->

    <div id="content">
