{{ partial "header.html" . }}

<img src='/love/images/theme/sailboat.png' alt='sailboat' class='moving_icon' id="moving_boat" style="position: fixed;margin-top: -100px; margin-left: 575px;">

<h1>Hello</h1>

<p>Welcome to our wedding website. We are excited to share our special day with you! Please don't hesitate to contact
us if you have any questions, Adam: <a href="mailto:ariggall@gmail.com">ariggall@gmail.com</a>,
Josie: <a href="mailto:ajgolemb@gmail.com">ajgolemb@gmail.com</a>.</p>

<p><img class="img-thumbnail img-responsive" src="/love/images/IMG_0627.JPG" alt="Photo of Adam and Josie on the beach" /></p>

<script src="/love/js/boat.js"></script>

{{ partial "footer.html" . }}
